.root {
    -fx-background-color: #2d2e30;
    -fx-text-fill: white;

}

.button {
    -fx-background-color: #44ad53;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-pref-height: 75px;
    -fx-pref-width: 200px;
    -fx-text-fill: white;
}

.title-label {
    -fx-font-size: 100px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
}

.mc-label {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
}

.reg-field {
    -fx-font-size: 20px;
    -fx-pref-height: 50px;
    -fx-pref-width: 240px;
}

.login-field {
    -fx-font-size: 24px;
    -fx-pref-height: 80px;
    -fx-pref-width: 320px;
}

.left-box {
    -fx-background-color: #545454;
    -fx-pref-width: 300px;
}

.user-box {
    -fx-background-color: #737373;
    -fx-pref-height: 120px;
    -fx-pref-width: 300px;
}

.scroll-pane {
    -fx-background: #545454;
    -fx-fit-to-width: true;
    -fx-pref-height: 450px;
    -fx-border-color: #737373;
}

.friend-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.friend-box {
    -fx-background-color: #545454;
    -fx-pref-height: 80px;
    -fx-pref-width: 300;
}

.user-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.uid-label {
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.nav-bar {
    -fx-background-color: #2d2e30;
    -fx-pref-height: 60px;
    -fx-border-color: #545454;
}