.root {
    -fx-background-color: #2d2e30;
    -fx-text-fill: white;
}

.sidebar {
    -fx-background-color: #545454;
    -fx-pref-width: 200px;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.user-bar {
    -fx-background-color: #737373;
    -fx-min-height: 100px;
    -fx-pref-height: 100px;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.chats-bar {
    -fx-background-color: #545454;
    -fx-pref-height: 60px;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.user-label {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.others-label {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.chat-area {
    -fx-background-color: #2d2e30;
    -fx-pref-width: 400px;
}

.nav-bar {
    -fx-background-color: #2d2e30;
    -fx-pref-height: 60px;
}

.scroll-pane {
    -fx-fit-to-width: true;
}

.header {
    -fx-background-color: #2E2E2E;
    -fx-alignment: center-left;
    -fx-padding: 10px;
}

.chat-box {
    -fx-background-color: #1E1E1E;
    -fx-padding: 10px;
}

.chat-scroll-pane {
    -fx-background: #1E1E1E;
    -fx-border-color: transparent;
}

.input-area {
    -fx-background-color: #3A3A3A;
    -fx-padding: 10px;
}

.message-field {
    -fx-background-radius: 20px;
    -fx-padding: 8px;
}

.received-message {
    -fx-background-color: #3A3A3A;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-background-radius: 10px;
}

.sent-message {
    -fx-background-color: #44ad53;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-background-radius: 10px;
}

.time-label {
    -fx-text-fill: gray;
    -fx-font-size: 10px;
}

.friend-name {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
